@model ServiceAppDemo.Models.solucion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>solucion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComenSolu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComenSolu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caso.codigo_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caso.codigo_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
